USE [QUANLYKHACHSAN1]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETTHUEPHONG]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUEPHONG](
	[MACTTP] [int] IDENTITY(1,1) NOT NULL,
	[MAPHONG] [int] NULL,
	[MADV] [int] NULL,
	[GHICHU] [nvarchar](max) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CHITIETTHUEPHONG] PRIMARY KEY CLUSTERED 
(
	[MACTTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DATPHONG]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATPHONG](
	[MAPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONG] [nchar](10) NULL,
	[MALOAIPHONG] [int] NULL,
	[TINHTRANG] [bit] NULL,
 CONSTRAINT [PK_DATPHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [int] IDENTITY(1,1) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[GIA] [float] NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[SDT] [nchar](10) NULL,
	[CMND] [nchar](10) NULL,
	[QUOCTICH] [nvarchar](100) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[LOAIPHONG] [nvarchar](50) NULL,
	[GIATIEN] [int] NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[SDT] [nchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[PICTURE] [nvarchar](max) NULL,
	[MATKHAU] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUEPHONG]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUEPHONG](
	[MATP] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[NGAYTHUE] [date] NULL,
	[NGAYTRA] [date] NULL,
	[THANHTOAN] [float] NULL,
	[MAKH] [int] NULL,
	[MACTTP] [int] NULL,
 CONSTRAINT [PK_THUEPHONG] PRIMARY KEY CLUSTERED 
(
	[MATP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [Username], [Password]) VALUES (1, N'admin', N'12345')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [DIACHI], [PICTURE], [MATKHAU]) VALUES (1, N'admin', 1, N'0123456   ', N'Hà Nội', NULL, 12345)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
ALTER TABLE [dbo].[CHITIETTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTHUEPHONG_DATPHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[DATPHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[CHITIETTHUEPHONG] CHECK CONSTRAINT [FK_CHITIETTHUEPHONG_DATPHONG]
GO
ALTER TABLE [dbo].[CHITIETTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTHUEPHONG_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[CHITIETTHUEPHONG] CHECK CONSTRAINT [FK_CHITIETTHUEPHONG_DICHVU]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_LOAIPHONG] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK_DATPHONG_LOAIPHONG]
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_THUEPHONG_CHITIETTHUEPHONG] FOREIGN KEY([MACTTP])
REFERENCES [dbo].[CHITIETTHUEPHONG] ([MACTTP])
GO
ALTER TABLE [dbo].[THUEPHONG] CHECK CONSTRAINT [FK_THUEPHONG_CHITIETTHUEPHONG]
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_THUEPHONG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[THUEPHONG] CHECK CONSTRAINT [FK_THUEPHONG_KHACHHANG]
GO
/****** Object:  StoredProcedure [dbo].[sp_datadv]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_datadv]
(
	@ten nvarchar(50)
	)
	as
	begin
	select CHITIETTHUEPHONG.MADV,CHITIETTHUEPHONG.SOLUONG,tendv
    from CHITIETTHUEPHONG,DICHVU
    where tendv=@ten
    end

GO
/****** Object:  StoredProcedure [dbo].[sp_dv]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[sp_dv]
(    @GIA float,
	 @SOLUONG int,
     @TEN nvarchar(50)
 )
AS
INSERT INTO DICHVU(TENDV,SOLUONG,GIA)
VALUES(@TEN,@SOLUONG,@SOLUONG);

GO
/****** Object:  StoredProcedure [dbo].[sp_dvtendv]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_dvtendv]
(
	@ten nvarchar(50)
	)
	as
	begin
	select *
    from DICHVU
    where TENDV=@ten
    end

GO
/****** Object:  StoredProcedure [dbo].[sp_khachhang]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE  [dbo].[sp_khachhang]
(    @TENKH nvarchar(50),
	 @SDT nchar(10),
	 @CMND nchar(10),
	 @QUOCTICH nvarchar(50),
     @GIOITINH bit
 )
AS
INSERT INTO KHACHHANG(TENKH,SDT,CMND,QUOCTICH,GIOITINH)
VALUES(@TENKH,@SDT,@CMND,@QUOCTICH,@GIOITINH);

GO
/****** Object:  StoredProcedure [dbo].[sp_loaiphongtien]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_loaiphongtien]
(
	@ten nvarchar(50)
	)
	as
	begin
	select *
    from LOAIPHONG
    where LOAIPHONG=@ten
    end

GO
/****** Object:  StoredProcedure [dbo].[sp_luudk]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_luudk]
(
@soluong int,
@makh int,
@maphong int,
@madv int,
@ngaydk date

)
as
begin
insert into CHITIETTHUEPHONG values (@maphong,@madv, '  ',@soluong)

declare @macttp int

select @macttp = MACTTP from CHITIETTHUEPHONG where MAPHONG = @maphong


insert into THUEPHONG(NGAYTHUE,MAKH, MACTTP) values (@ngaydk,@makh, @macttp)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_luudk2]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[sp_luudk2]
(
	 @matp int,
     @ngaytra date
	 
     )
AS
begin
UPDATE THUEPHONG
SET NGAYTRA = @ngaytra

where MATP =@matp
end
 

GO
/****** Object:  StoredProcedure [dbo].[sp_magvtengv]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_magvtengv]
(
	@Ma int
	)
	as
	begin
	select *
    from KHACHHANG
    where MAKH=@Ma
    end

GO
/****** Object:  StoredProcedure [dbo].[sp_nhanvienhienthi]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[sp_nhanvienhienthi]
	(
	 @Ma int
	)
	as
	begin
	SELECT*
	FROM NHANVIEN
	WHERE NHANVIEN.MANV=@Ma
	end

GO
/****** Object:  StoredProcedure [dbo].[sp_phong]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[sp_phong]
(    @TENPHONG nchar(10),
	 @MALOAIPHONG int,
     @TINHTRANG bit
 )
AS
INSERT INTO DATPHONG(TENPHONG,MALOAIPHONG,TINHTRANG)
VALUES(@TENPHONG,@MALOAIPHONG,@TINHTRANG);

GO
/****** Object:  StoredProcedure [dbo].[sp_phongmalp]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_phongmalp]
(
	@Ma int
	)
	as
	begin
	select *
    from DATPHONG
    where MALOAIPHONG=@Ma and TINHTRANG=1
    end

GO
/****** Object:  StoredProcedure [dbo].[SP_Suadv]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[SP_Suadv]
(
	 @MA int,
     @GIA float,
	 @SOLUONG int,
     @TEN nvarchar(50)
     )
AS
UPDATE DICHVU
SET TENDV = @TEN,GIA=@GIA,SOLUONG=@SOLUONG
 WHERE MADV= @MA;

GO
/****** Object:  StoredProcedure [dbo].[SP_Suakh]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create PROC  [dbo].[SP_Suakh]
(
	 @MAKH int,
	 @TENKH nvarchar(50),
	 @SDT nchar(10),
	 @CMND nchar(10),
	 @QUOCTICH nvarchar(50),
     @GIOITINH bit
     )
AS
UPDATE KHACHHANG
SET TENKH = @TENKH,SDT=@SDT,GIOITINH=@GIOITINH,CMND=@CMND,QUOCTICH=@QUOCTICH
 WHERE MAKH= @MAKH;

GO
/****** Object:  StoredProcedure [dbo].[SP_SuaPhong]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC  [dbo].[SP_SuaPhong]
(
	 @MAPHONG int,
     @MALOAIPHONG float,
	 @TINHTRANG int,
     @TENPHONG nvarchar(50)
     )
AS
UPDATE DATPHONG
SET TENPHONG = @TENPHONG,MALOAIPHONG=@MALOAIPHONG,TINHTRANG=@TINHTRANG
 WHERE MAPHONG= @MAPHONG;

GO
/****** Object:  StoredProcedure [dbo].[sp_tongtien]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_tongtien]
(
	@Ma int
	)
	as
	begin
	select *
    from THUEPHONG
    where MATP=@Ma 
    end

GO
/****** Object:  StoredProcedure [dbo].[sp_tongtien1]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_tongtien1]
(
	@Ma int
	)
	as
	begin
	select THUEPHONG.MACTTP,MAPHONG,MADV,GHICHU,SOLUONG
    from CHITIETTHUEPHONG join THUEPHONG  on CHITIETTHUEPHONG.MACTTP=THUEPHONG.MACTTP
    where MATP=@Ma 
    end

GO
/****** Object:  StoredProcedure [dbo].[sp_tra1]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_tra1]
(
	@ma int
	)
	as
	begin
	select *
    from THUEPHONG
    where MAKH=@ma
    end

GO
/****** Object:  StoredProcedure [dbo].[sp_tra3]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_tra3]
(
	@ma int
	)
	as
	begin
	select NGAYTHUE
    from THUEPHONG
    where MATP=@ma
    end

GO
/****** Object:  StoredProcedure [dbo].[sp_traphong]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_traphong]
@matp int

as

--declare @ngaytra date
--select @ngaytra=NGAYTRA from THUEPHONG
--if(@ngaytra!='NULL')
begin
	
	update th
	set THANHTOAN = ((day(th.NGAYTRA) - day(th.NGAYTHUE)) * lp.GIATIEN + dv.GIA * cttp.SOLUONG)
	from THUEPHONG th
	join CHITIETTHUEPHONG cttp on th.MACTTP = cttp.MACTTP
	join DICHVU dv on dv.MADV = cttp.MADV
	join DATPHONG dp on dp.MAPHONG = cttp.MAPHONG
	join LOAIPHONG lp on dp.MALOAIPHONG = lp.MALOAIPHONG
	where th.MATP =@matp
	
end


GO
/****** Object:  StoredProcedure [dbo].[sp_traphong2]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_traphong2]
@matp int
as
begin
--declare @ngaytra date
--select @ngaytra=NGAYTRA from THUEPHONG
--if(@ngaytra!='NULL')

	declare @ngaythue date,@ngaytra date
	select @ngaythue = NGAYTHUE, @ngaytra = NGAYTRA from THUEPHONG where MATP =@matp

	if(@ngaythue is not  null and @ngaytra is null )
		begin
			update dp
			set TINHTRANG = 1 
			from DATPHONG dp
			join CHITIETTHUEPHONG cttp on dp.MAPHONG = cttp.MAPHONG
			join THUEPHONG tp on cttp.MACTTP = tp.MACTTP
			where tp.MATP = @matp
		end
	if(@ngaythue is not null and @ngaytra is not null)
		begin
			update dp
			set dp.TINHTRANG = 0
			from DATPHONG dp
			join CHITIETTHUEPHONG cttp on dp.MAPHONG = cttp.MAPHONG
			join THUEPHONG tp on cttp.MACTTP = tp.MACTTP
			where tp.MATP = @matp
		end
end

GO
/****** Object:  StoredProcedure [dbo].[SP_Xoa]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc  [dbo].[SP_Xoa]
(
     @Ma int
)
AS
begin
DELETE CHITIETTHUEPHONG
WHERE MADV= @Ma;
end

GO
/****** Object:  StoredProcedure [dbo].[SP_Xoadv]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc  [dbo].[SP_Xoadv]
(
     @Ma int
)
AS
begin
DELETE DICHVU
WHERE MADV= @Ma;
end

GO
/****** Object:  StoredProcedure [dbo].[SP_Xoakh]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc  [dbo].[SP_Xoakh]
(
     @Ma int
)
AS
begin
DELETE KHACHHANG
WHERE MAKH= @Ma;
end

GO
/****** Object:  StoredProcedure [dbo].[SP_XoaPhong]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc  [dbo].[SP_XoaPhong]
(
     @Ma int
)
AS
begin
DELETE DATPHONG
WHERE MAPHONG= @Ma;
end

GO
/****** Object:  StoredProcedure [dbo].[SUA_NHAN_VIEN]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SUA_NHAN_VIEN](
@MA_NV INT,
@TEN_NV NVARCHAR(50),
@GIOI_TINH BIT,
@SDT NCHAR(10),
@DIA_CHI NVARCHAR(50),
@MK INT
)
AS
BEGIN
UPDATE NHANVIEN SET TENNV=@TEN_NV,GIOITINH=@GIOI_TINH,SDT=@SDT,DIACHI=@DIA_CHI,MATKHAU=@MK WHERE MANV=@MA_NV
END

GO
/****** Object:  StoredProcedure [dbo].[THEM_NHAN_VIEN]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEM_NHAN_VIEN](
@TEN_NV NVARCHAR(50),
@GIOI_TINH BIT,
@SDT NCHAR(10),
@DIA_CHI NVARCHAR(50),
@MK INT
)
AS
BEGIN
INSERT INTO NHANVIEN(TENNV,GIOITINH,SDT,DIACHI,MATKHAU) VALUES(@TEN_NV,@GIOI_TINH,@SDT,@DIA_CHI,@MK)
END

GO
/****** Object:  StoredProcedure [dbo].[XEM_NHAN_VIEN]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEM_NHAN_VIEN]
AS
BEGIN
SELECT * FROM NHANVIEN
END

GO
/****** Object:  StoredProcedure [dbo].[XOA_NHAN_VIEN]    Script Date: 06/05/2017 7:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XOA_NHAN_VIEN](
@MA_NV INT
)
AS
BEGIN
DELETE FROM NHANVIEN WHERE MANV=@MA_NV
END

GO
